<div class="lancamento-container center shadow-around">
  <div class="title">
    <h3>Últimos Lançamentos</h3>
  </div>
  <div class="content-container">
    <p-table responsiveLayout="scroll" [value]="lastAddedGastos">
      <ng-template pTemplate="header">
        <tr [ngClass]="{ 'bg' : true }">
          <th>
            Data
          </th>
          <th>
            Valor
          </th>
          <th>
            Tipo
          </th>
          <th>
            Tipo Transação
          </th>
          <th>
            Observação
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-gasto>
        <tr [ngClass]="{ 'bg' : true }">
          <td>
            {{gasto.dataLancamento | date: 'dd/MM/yyyy'}}
          </td>
          <td>
            {{gasto.valor | currency: 'R$ '}}
          </td>
          <td>
            {{gasto.tipo | gastoDescricao }}
          </td>
          <td>
            {{gasto.formaPagamento | pagamentoDescricao }}
          </td>
          <td>
            {{gasto.descricao}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="graph-container center shadow-around">
  <p-chart type="bar" [data]="chartData" [options]="chartOptions" width="40vw" height="40vh"></p-chart>
</div>
